body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    max-width: 400px;
    margin: 0 auto;
}

h1 {
    font-size: 24px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 20px 0;
}

.cell {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    background-color: #a44949;
    cursor: pointer;
}

.cell:hover {
    background-color: #ccc;
}

.winner-message {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}

.restart-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}
